.DS_Store
**/.DS_Store
*.asv
*.m~
*.mat
*.mex*
resources/

# --- OS / editor ---
.DS_Store
.vscode/
.idea/

# --- MATLAB ---
*.asv
*.m~
*.mex*
slprj/

# --- Python ---
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
